@model BazarNetCore.Models.Prodacts

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Salers @Model.Name</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdactType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdactType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
